@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}



body {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
}
