.container {
    background-color: var(--AzulMuitoEscuro);
    width: 100%;
    height: 100vh;
    display: flex;

    .containerNav {
        margin: 0 auto;

        .imgFundo {
            position: relative;


            .title {
                position: absolute;
                color: white;
                font-weight: 700;
                font-size: 40px;
                margin-left: 30vw;
                margin-top: 13vh;
            }

            .form {
                .task {
                    position: absolute;
                    background-color: var(--AzulDessaturadoMtoEscuro);
                    width: 30vw;
                    height: 9vh;
                    display: flex;
                    margin-top: -15vh;
                    margin-left: 30vw;
                    padding-left: 6vh;
                    border-radius: 5px;
                    color: var(--AzulCinzaClaro);
                    font-size: 15px;
                    outline: none;
                }

                button {

                    position: absolute;
                    background-color: transparent;
                    margin-top: -12.5vh;
                    margin-left: 30vw;
                    cursor: pointer;
                    color: var(--AzulMuitoEscuro);
                    font-size: 30px;
                }

                button:hover {
                    color: var(--CinzaMtoClaro);
                }
            }

            .sun {
                position: absolute;
                display: flex;
                margin-top: -25.5vh;
                margin-left: 58vw;
            }
        }

        .taksList {
            display: flex;
            flex-direction: column;
            align-items: center;


            .list {
                display: table-cell;
                vertical-align: middle;
                background-color: var(--AzulDessaturadoMtoEscuro);
                width: 30vw;
                height: 7vh;
                border-top-right-radius: 3px;
                border-top-left-radius: 3px;
                color: var(--AzulCinzaClaro);
                border-bottom: 1px solid gray;
                padding-left: 6vh;
                padding-top: 1vh;

                button{
                    display: flex;
                    margin-left: -2.5vw;
                    margin-top: -2vh;
                    color: var(--AzulMuitoEscuro);
                    background-color: var(--AzulDessaturadoMtoEscuro);
                    font-size: 20px;
                    cursor: pointer;
                }

                button:hover{
                    color: var(--CinzaMtoClaro);
                }
            }
        }
    }
}